{% extends 'core/base.html' %}
{% load static %}

{% block container %}

<div class="px-1 py-1 mx-auto text-center">
  <h1 class="display-8">JMA</h1>
  <p class="lead">気象庁XMLを取得して、解析できるようになります。</p>
</div>
<div class="px-1 py-1 row">
  <div class="col">
    <button id="getFeedListBtn" type="button" class="btn btn-primary">
      Atomフィード取得
    </button>
    <div id="feedList"></div>
  </div>
</div>

<div class="px-1 py-1 row">
  <div class="col">
    <div id="map"></div>
  </div>
</div>

{% endblock %}

{% block script %}
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/build/ol.js"></script>
<script src="{% static 'jma/js/tortamap.js' %}"></script>
<script>

$("#getFeedListBtn").click(function () {
  $.get("./feedList", function(data){
    $("#feedList").html(data);
  });
});


</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/css/ol.css">
{% endblock %}
