{% extends 'core/base.html' %}

{% block container %}

<div class="px-1 py-1 mx-auto text-center">
  <h1 class="display-8">JMA</h1>
  <p class="lead">気象庁XMLを取得して、解析できるようになります。</p>
</div>
<div class="px-1 py-1 row">
  <div class="col">
    <button id="getFeedListBtn" type="button" class="btn btn-primary">
      Atomフィード取得
    </button>
    <div id="feedList"></div>
  </div>
</div>

{% endblock %}

{% block script %}
<script>
$("#getFeedListBtn").click(function () {
  $.get("./feedList", function(data){
    $("#feedList").html(data);
  });
});


</script>
{% endblock %}
