{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="ja">

<head>
  <title>torta</title>
  <meta charset="UTF-8" />
  <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport" />
  <!-- CSS -->
  <!-- Add Material font (Roboto) and Material icon as needed -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  <!-- Add Material CSS, replace Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'material-4/css/material.min.css' %}" />
  <!-- torta CSS -->
  <link rel="stylesheet" type="text/css" href="{% sass_src 'css/base.sass' %}" />
</head>

<body>

  {% include 'core/navbar.html' %}

  <div class="container">
    {% block container %}
    {% endblock %}
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

  <!-- Then Material JavaScript on top of Bootstrap JavaScript -->
  <script src="{% static 'material-4/js/material.min.js' %}"></script>

</body>

</html>
