.bg-theme1 {
  background-color: brown;
}
.bg-theme2 {
  background-color: #FFE082 //Amber-200
}
.bg-theme3 {
  background-color: #EF6C00 //Orange-800
}
.text-theme1 {
  color: brown;
}
.text-theme2 {
  color: #FFE082 //Amber-200
}
.text-theme3 {
  color: #EF6C00 //Orange-800
}
